<nav class="title">
  <div class="nav-title">
    <img src="/image/logo.png" class="logo-image">
    <div id="nav-message">
      <a><i class="fa-solid fa-file-circle-plus"></i> a new poll </a>
    </div>
  </div>
</nav>
