<nav>
  <div class="nav-title">
    <img src="/image/logo.png">
  </div>
  <!-- <div class="nav-message">
    <a><b>Make</b> a decision</a>
    <div id="scroll-nav">
      <i class="fa-solid fa-angles-down fa-sm"></i>
    </div> -->
  </div>
</nav>
