// See: https://sass-lang.com/

body,
html {
  margin: 0;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #385b66;
    font-family: 'Arvo', serif;

    .nav-title {
      display: flex;
      justify-content: space-around;
      font-size: xx-large;
      align-items: baseline;
    }

    .logo-image {
      transition: transgoem .75s;
    }

    // .nav-title:hover .logo-image {
    //   transform: scale(1.15);
    // }
    // .logo-image:hover {
    //   transform: scale(1.15);
    // }

    // create new poll button
    #nav-message {
      position:fixed;
      top: 90px;
      right: 15px;
      font-size: large;
      color: whitesmoke;

      :hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
