// See: https://sass-lang.com/

body,
html {
  margin: 0;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width:100%;
    top: 0;
    position: fixed;
    background-color: #385b66;
    font-family: 'Arvo', serif;

    .nav-title {
      display: flex;
      justify-content: center;
      font-size: xx-large;
    }

    .nav-message {
      display: flex;
      justify-content: center;
    }
  }
}

