body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  padding: 2em;
  min-height: 100vh;

  // background: rgb(163, 208, 219);
  background: linear-gradient(227deg,
      rgb(210, 180, 140),
      rgb(228, 227, 222),
      rgb(167, 190, 176),
      rgb(89, 144, 139));
}

.vote-here {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
}

.list-group {
  display: flex;
  justify-content: center;
}

#voter-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

// .alert {
//   width: 100%;
//   padding: 12px 16px;
//   border-radius: 4px;
//   border-style: solid;
//   border-width: 1px;
//   margin-bottom: 12px;
//   font-size: 16px;
//   background-color: rgba(252, 248, 227, 1);
//   border-color: rgba(177, 161, 129, 1);
//   color: rgba(138, 109, 59, 1);
// }
