// See: https://sass-lang.com/

body,
html {
  margin: 0;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 100%;
    top: -15px;
    position: fixed;
    background-color: #385b66;
    font-family: 'Arvo', serif;

    .nav-title {
      display: flex;
      justify-content: space-around;
      // font-size: xx-large;
      align-items: baseline;
      padding-bottom: 3px;
    }

    .logo-image {
      transition: transgoem .75s;
    }

    // .nav-title:hover .logo-image {
    //   transform: scale(1.15);
    // }
    .logo-image:hover {
      transform: scale(1.05);
    }

    // create new poll button
    #nav-message {
      position: fixed;
      top: 80px;
      right: 15px;
      font-size: large;
      color: whitesmoke;

      :hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    @media only screen and (max-width: 550px) {
      #nav-message {
        position: fixed;
        top: 110px;
        right: 15px;
        font-size: large;
        color: #385b66;

        :hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
